<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>

    </head>

    <body>

        <div id="wrapper">

            <%- include('./partials/header'); %>

            <div class="content-page">
                <div class="content">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-2">
                                                <form class="form-horizontal" action="/testnomial" method="POST" enctype="multipart/form-data">
                                                    <div class="form-group row">
                                                        <label class="col-md-2 col-form-label" for="simpleinput">Client Name</label>
                                                        <div class="col-md-10">
                                                            <input type="text" name="clientName"  class="form-control" placeholder="Client Name">
                                                            <% if (typeof error1 !== 'undefined' && error1.length > 0) { %>
                                                                <div style="color: red;"> <%= error1 %></div>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group row">
                                                        <label class="col-md-2 col-form-label" for="example-textarea">Feedback</label>
                                                        <div class="col-md-10">
                                                            <textarea class="form-control" name="feedback"  rows="5" id="example-textarea" placeholder="Feedback"></textarea>
                                                            <% if (typeof error2 !== 'undefined' && error2.length > 0) { %>
                                                                <div style="color: red;"> <%= error2 %></div>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-2 col-form-label" for="example-email">Images</label>
                                                        <div class="col-md-4">
                                                            <input type="file" name="image" id="image" value="" accept="image/*"   multiple/>                                                                
                                                        </div>
                                                    </div>
    
                                                    <div class="text-center mt-3">
                                                        <button type="reset" class="btn btn-bordered-danger waves-effect  width-md waves-light">Cancle</button>
                                                        &nbsp;
                                                        <button type="submit" class="btn btn-bordered-success waves-effect  width-md waves-light">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <div class="d-flex justify-content-end mb-2">
                                        <button type="button" class="btn btn-bordered-danger waves-effect  width-md waves-light" id="delete">Delete</button>&nbsp;
                                    </div>
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap text-center">
                                        <thead>
                                        <tr>
                                            <th style="width: 10%; "> </th>
                                            <th style="width: 20%; ">Clint Name</th>
                                            <th style="width: 20%; ">Feedback</th>
                                            <th style="width: 10%; ">Date</th>
                                            <th style="width: 20%; ">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < testnomial.length; i++) { %>
                                                <tr>
                                                    <td><input type="checkbox" class="select" value="<%= testnomial[i].id %>"></td>
                                                    <td><%= testnomial[i].clientName %></td>
                                                    <td><%= testnomial[i].feedback %></td>
                                                    <td><%= testnomial[i].date.toDateString() %></td>
                                                    <td>
                                                        <a href="testnomial-view?id=<%= testnomial[i].id %>">
                                                            <button class="btn btn-icon waves-effect btn-primary" > <i class="fas fa-eye"></i> </button>&nbsp;
                                                        </a> 
                                                        <a href="testnomial-edit?id=<%= testnomial[i].id %>">
                                                            <button class="btn btn-icon waves-effect btn-success" > <i class="fas fa-edit"></i> </button>&nbsp;
                                                        </a> 
                                                        <a href='testnomial/<%= testnomial[i].id %>'>
                                                            <button class="btn btn-icon waves-effect btn-danger" > <i class="fas fa-trash"></i> </button>&nbsp;
                                                        </a> 
                                                        
                                                    </td>
                                                </tr>
                                             <% } %>
                                        </tbody>                
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 
            </div>
        </div>
        
        
        <%- include('./partials/scprit'); %>

        <script>
            let btnShow = document.getElementById('delete');
            let checkbox=[];

            btnShow.addEventListener('click', _=>{
                let check = document.querySelectorAll('input[type="checkbox"]:checked');
                for(let i=0; i< check.length; i++){
                    checkbox.push(check[i].value)
                }
                console.log(check.length);
                console.log(checkbox);

                fetch('/testnomial', {
                    method: 'delete',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: checkbox
                    })
                })
                .then(res => {
                    if (res.ok) return res.json()
                })
                .then(response => {
                    window.location.reload(true)
                })
            });
        </script>
        
    </body>
</html>